In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pymongo
import seaborn as sns

In [2]:
Client=pymongo.MongoClient("mongodb+srv://ragult:Ragul29072001@cluster0.dxjzum0.mongodb.net/")

In [3]:
Client.list_database_names()

['airbnbanalysis',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [4]:
db=Client["sample_airbnb"]
db.list_collection_names()

['listingsAndReviews']

In [5]:
db = Client.sample_airbnb
Collection=db.listingsAndReviews

In [6]:
data=[]
for i in Collection.find():
    data.append(i)
#data[0]

In [7]:
pd.set_option('display.max_columns', 500)

In [8]:
airbnb = pd.DataFrame(data)
airbnb

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,interaction,house_rules,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,last_scraped,calendar_last_scraped,first_review,last_review,accommodates,bedrooms,beds,number_of_reviews,bathrooms,amenities,price,extra_people,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,cleaning_fee,security_deposit,reviews_per_month
0,10057826,https://www.airbnb.com/rooms/10057826,Deluxe Loft Suite,Loft Suite Deluxe @ Henry Norman Hotel Located...,This loft unit features a kitchenette and is f...,Loft Suite Deluxe @ Henry Norman Hotel Located...,Greenpoint is an artsy Brooklyn neighborhood f...,,,"Guest will have access to common terraces, lou...",,Guest must leave a copy of credit card with fr...,Apartment,Entire home/apt,Real Bed,3,1125,strict_14_with_grace_period,2019-03-07 05:00:00,2019-03-07 05:00:00,2016-01-03 05:00:00,2018-02-18 05:00:00,4,0.0,2.0,5,1.0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",205.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '47554473', 'host_url': 'https://w...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 30, 'availability_60': 31,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58665374', 'date': 2016-01-03 05:00:...",NaN,NaN,NaN,NaN,NaN
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"There´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",,"I´ll be happy to help you with any doubts, tip...",I just hope the guests treat the space as they...,Apartment,Entire home/apt,Real Bed,2,1125,flexible,2019-02-11 05:00:00,2019-02-11 05:00:00,NaT,NaT,4,1.0,2.0,0,1.0,"[Wifi, Wheelchair accessible, Kitchen, Free pa...",317.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1282196', 'host_url': 'https://ww...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],1492.00,4849.00,187.00,NaN,NaN
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Great studio located on Ala Moana across the s...,A short distance from Honolulu's billion dolla...,You can breath ocean as well as aloha.,,Honolulu does have a very good air conditioned...,"Pool, hot tub and tennis","We try our best at creating, simple responsive...",The general welfare and well being of all the ...,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2019-03-06 05:00:00,2019-03-06 05:00:00,2013-05-24 04:00:00,2019-02-07 05:00:00,2,1.0,1.0,96,1.0,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",115.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '5448114', 'host_url': 'https://ww...","{'street': 'Honolulu, HI, United States', 'sub...","{'availability_30': 16, 'availability_60': 46,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '4765259', 'date': 2013-05-24 04:00:0...",650.00,2150.00,100.00,NaN,NaN
3,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",,"Clean, fully furnish, Spacious 1 bedroom flat ...",,,,,,,Apartment,Entire home/apt,Real Bed,4,20,flexible,2019-03-11 04:00:00,2019-03-11 04:00:00,2015-12-19 05:00:00,2018-03-27 04:00:00,3,1.0,2.0,3,1.0,"[Air conditioning, Kitchen, Smoking allowed, D...",699.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51624384', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '56904633', 'date': 2015-12-19 05:00:...",5000.00,NaN,NaN,NaN,NaN
4,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: • Metro station and S. Bento railwa...,We are always available to help guests. The ho...,"Cot - 10 € / night Dog - € 7,5 / night",Make the house your home...,House,Entire home/apt,Real Bed,2,30,moderate,2019-02-16 05:00:00,2019-02-16 05:00:00,2016-01-03 05:00:00,2019-01-20 05:00:00,8,3.0,5.0,51,1.0,"[TV, Cable TV, Wifi, Kitchen, Paid parking off...",80.00,15.00,6,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51399391', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 28, 'availability_60': 47,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58663741', 'date': 2016-01-03 05:00:...",NaN,NaN,35.00,200.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9846545,https://www.airbnb.com/rooms/9846545,Cozy Private Room near Olympic MTR (A),We now have this decent room with a double bed...,Fully furnished: a double bed and a wardrobe. ...,We now have this decent room with a double bed...,Incredibly affordable laundry shops & restaura...,Minimum Stay: 28 nights - afterwards pro-rated...,At least half the cost of what you'd pay for f...,"Guests have access to everything (wifi, A/C co...",Can meet guest at airport or nearby MTR and sh...,GENERAL HOUSE RULES Saving Electricity: - Turn...,Apartment,Private room,Real Bed,28,1125,strict_14_with_grace_period,2019-03-11 04:00:00,2019-03-11 04:00:00,NaT,NaT,1,1.0,1.0,0,1.0,"[Internet, Wifi, Air conditioning, Kitchen, Es...",259.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '23134064', 'host_url': 'https://w...","{'street': 'Hong Kong, Kowloon, Hong Kong', 's...","{'availability_30': 6, 'availability_60': 36, ...",{},[],NaN,NaN,0.00,5000.00,NaN
5551,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Newly renovated studio flat with full furniture.,,Newly renovated studio flat with full furniture.,,,,,,,Apartment,Private room,Real Bed,3,1125,flexible,2019-03-11 04:00:00,2019-03-11 04:00:00,2016-10-02 04:00:00,2017-01-01 05:00:00,1,1.0,1.0,4,1.0,"[TV, Wifi, Air conditioning, Kitchen, Elevator...",400.00,300.00,2,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '31386255', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 18, 'availability_60': 48,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '105800033', 'date': 2016-10-02 04:00...",NaN,NaN,NaN,3000.00,NaN
5552,9917859,https://www.airbnb.com/rooms/9917859,StayIN Oporto Música - Apartment,Acabamos de decorar-lo para receber os primeir...,,Acabamos de decorar-lo para receber os primeir...,,,,,,,Apartment,Entire home/apt,Real Bed,1,1125,strict_14_with_grace_period,2019-02-16 05:00:00,2019-02-16 05:00:00,2016-05-08 04:00:00,2019-01-02 05:00:00,16,8.0,8.0,20,4.0,"[TV, Cable TV, Wifi, Kitchen, Elevator, Heatin...",500.00,30.00,16,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '2296185', 'host_url': 'https://ww...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 28, 'availability_60': 54,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '73527641', 'date': 2016-05-08 04:00:...",NaN,NaN,80.00,200.00,NaN
5553,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,"***NOTE: THE OCEAN INFINITY POOL (""POOL 1""0 WI...",Relax Hawaiian Style in Gated Community on Oce...,Location: Located at the south end of Lahaina ...,Puamana Resort requires a $10/day resort fee w...,You can walk to most attractions within Lahain...,Guests will have access to the 3 pools in the ...,We do most of our interaction through emails a...,"As a guest of Coconut Condos, I agree to the f...",Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2019-03-06 05:00:00,2019-03-06 05:00:00,2016-04-06 04:00:00,2018-08-20 04:00:00,6,2.0,4.0,15,2.0,"[TV, Wifi, Air conditioning, Pool, Kitchen, Fr...",220.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51013381', 'host_url': 'https://w...","{'street': 'Lahaina, HI, United States', 'subu...","{'availability_30': 0, 'availability_60': 8, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '68762225', 'date': 2016-04-06 04:00:...",NaN,NaN,315.00,200.00,NaN
5554,9969335,https://www.airbnb.com/rooms/9969335,"Central, Modern, University, Metro",Welcome to this completely new apartment and f...,,Welcome to this completely new apartment and f...,,,,,,,Apartment,Entire home/apt,Real Bed,6,60,strict_14_with_grace_period,2019-02-16 05:00:00,2019-02-16 05:00:00,2016-01-07 05:00:00,2018-11-13 05:00:00,4,1.0,2.0,42,1.0,"[TV, Cable TV, Internet, Wifi, Kitchen, Free p...",41.00,12.00,2,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '2068687', 'host_url': 'https://ww...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 20, 'availability_60': 37,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '59149607', 'date': 2016-01-07 05:00:...",220.00,840.00,35.00,0.00,NaN

In [9]:
airbnb.to_csv('airbnb.csv', index=False)

In [10]:
Airbnb = pd.read_csv('airbnb.csv')
Airbnb

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,interaction,house_rules,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,last_scraped,calendar_last_scraped,first_review,last_review,accommodates,bedrooms,beds,number_of_reviews,bathrooms,amenities,price,extra_people,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,cleaning_fee,security_deposit,reviews_per_month
0,10057826,https://www.airbnb.com/rooms/10057826,Deluxe Loft Suite,Loft Suite Deluxe @ Henry Norman Hotel Located...,This loft unit features a kitchenette and is f...,Loft Suite Deluxe @ Henry Norman Hotel Located...,Greenpoint is an artsy Brooklyn neighborhood f...,NaN,NaN,"Guest will have access to common terraces, lou...",NaN,Guest must leave a copy of credit card with fr...,Apartment,Entire home/apt,Real Bed,3,1125,strict_14_with_grace_period,2019-03-07 05:00:00,2019-03-07 05:00:00,2016-01-03 05:00:00,2018-02-18 05:00:00,4,0.0,2.0,5,1.0,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",205.0,0.0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '47554473', 'host_url': 'https://w...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 30, 'availability_60': 31,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58665374', 'date': datetime.datetime...",NaN,NaN,NaN,NaN,NaN
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"There´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",NaN,"I´ll be happy to help you with any doubts, tip...",I just hope the guests treat the space as they...,Apartment,Entire home/apt,Real Bed,2,1125,flexible,2019-02-11 05:00:00,2019-02-11 05:00:00,NaN,NaN,4,1.0,2.0,0,1.0,"['Wifi', 'Wheelchair accessible', 'Kitchen', '...",317.0,0.0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1282196', 'host_url': 'https://ww...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],1492.0,4849.0,187.0,NaN,NaN
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Great studio located on Ala Moana across the s...,A short distance from Honolulu's billion dolla...,You can breath ocean as well as aloha.,NaN,Honolulu does have a very good air conditioned...,"Pool, hot tub and tennis","We try our best at creating, simple responsive...",The general welfare and well being of all the ...,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2019-03-06 05:00:00,2019-03-06 05:00:00,2013-05-24 04:00:00,2019-02-07 05:00:00,2,1.0,1.0,96,1.0,"['TV', 'Cable TV', 'Wifi', 'Air conditioning',...",115.0,0.0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '5448114', 'host_url': 'https://ww...","{'street': 'Honolulu, HI, United States', 'sub...","{'availability_30': 16, 'availability_60': 46,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '4765259', 'date': datetime.datetime(...",650.0,2150.0,100.0,NaN,NaN
3,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",NaN,"Clean, fully furnish, Spacious 1 bedroom flat ...",NaN,NaN,NaN,NaN,NaN,NaN,Apartment,Entire home/apt,Real Bed,4,20,flexible,2019-03-11 04:00:00,2019-03-11 04:00:00,2015-12-19 05:00:00,2018-03-27 04:00:00,3,1.0,2.0,3,1.0,"['Air conditioning', 'Kitchen', 'Smoking allow...",699.0,0.0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51624384', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '56904633', 'date': datetime.datetime...",5000.0,NaN,NaN,NaN,NaN
4,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: • Metro station and S. Bento railwa...,We are always available to help guests. The ho...,"Cot - 10 € / night Dog - € 7,5 / night",Make the house your home...,House,Entire home/apt,Real Bed,2,30,moderate,2019-02-16 05:00:00,2019-02-16 05:00:00,2016-01-03 05:00:00,2019-01-20 05:00:00,8,3.0,5.0,51,1.0,"['TV', 'Cable TV', 'Wifi', 'Kitchen', 'Paid pa...",80.0,15.0,6,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51399391', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 28, 'availability_60': 47,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58663741', 'date': datetime.datetime...",NaN,NaN,35.0,200.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9846545,https://www.airbnb.com/rooms/9846545,Cozy Private Room near Olympic MTR (A),We now have this decent room with a double bed...,Fully furnished: a double bed and a wardrobe. ...,We now have this decent room with a double bed...,Incredibly affordable laundry shops & restaura...,Minimum Stay: 28 nights - afterwards pro-rated...,At least half the cost of what you'd pay for f...,"Guests have access to everything (wifi, A/C co...",Can meet guest at airport or nearby MTR and sh...,GENERAL HOUSE RULES Saving Electricity: - Turn...,Apartment,Private room,Real Bed,28,1125,strict_14_with_grace_period,2019-03-11 04:00:00,2019-03-11 04:00:00,NaN,NaN,1,1.0,1.0,0,1.0,"['Internet', 'Wifi', 'Air conditioning', 'Kitc...",259.0,0.0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '23134064', 'host_url': 'https://w...","{'street': 'Hong Kong, Kowloon, Hong Kong', 's...","{'availability_30': 6, 'availability_60': 36, ...",{},[],NaN,NaN,0.0,5000.0,NaN
5551,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Newly renovated studio flat with full furniture.,NaN,Newly renovated studio flat with full furniture.,NaN,NaN,NaN,NaN,NaN,NaN,Apartment,Private room,Real Bed,3,1125,flexible,2019-03-11 04:00:00,2019-03-11 04:00:00,2016-10-02 04:00:00,2017-01-01 05:00:00,1,1.0,1.0,4,1.0,"['TV', 'Wifi', 'Air conditioning', 'Kitchen', ...",400.0,300.0,2,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '31386255', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 18, 'availability_60': 48,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '105800033', 'date': datetime.datetim...",NaN,NaN,NaN,3000.0,NaN
5552,9917859,https://www.airbnb.com/rooms/9917859,StayIN Oporto Música - Apartment,Acabamos de decorar-lo para receber os primeir...,NaN,Acabamos de decorar-lo para receber os primeir...,NaN,NaN,NaN,NaN,NaN,NaN,Apartment,Entire home/apt,Real Bed,1,1125,strict_14_with_grace_period,2019-02-16 05:00:00,2019-02-16 05:00:00,2016-05-08 04:00:00,2019-01-02 05:00:00,16,8.0,8.0,20,4.0,"['TV', 'Cable TV', 'Wifi', 'Kitchen', 'Elevato...",500.0,30.0,16,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '2296185', 'host_url': 'https://ww...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 28, 'availability_60': 54,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '73527641', 'date': datetime.datetime...",NaN,NaN,80.0,200.0,NaN
5553,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,"***NOTE: THE OCEAN INFINITY POOL (""POOL 1""0 WI...",Relax Hawaiian Style in Gated Community on Oce...,Location: Located at the south end of Lahaina ...,Puamana Resort requires a $10/day resort fee w...,You can walk to most attractions within Lahain...,Guests will have access to the 3 pools in the ...,We do most of our interaction through emails a...,"As a guest of Coconut Condos, I agree to the f...",Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2019-03-06 05:00:00,2019-03-06 05:00:00,2016-04-06 04:00:00,2018-08-20 04:00:00,6,2.0,4.0,15,2.0,"['TV', 'Wifi', 'Air conditioning', 'Pool', 'Ki...",220.0,0.0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51013381', 'host_url': 'https://w...","{'street': 'Lahaina, HI, United States', 'subu...","{'availability_30': 0, 'availability_60': 8, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '68762225', 'date': datetime.datetime...",NaN,NaN,315.0,200.0,NaN
5554,9969335,https://www.airbnb.com/rooms/9969335,"Central, Modern, University, Metro",Welcome to this completely new apartment and f...,NaN,Welcome to this completely new apartment and f...,NaN,NaN,NaN,NaN,NaN,NaN,Apartment,Entire home/apt,Real Bed,6,60,strict_14_with_grace_period,2019-02-16 05:00:00,2019-02-16 05:00:00,2016-01-07 05:00:00,2018-11-13 05:00:00,4,1.0,2.0,42,1.0,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Kitche...",41.0,12.0,2,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '2068687', 'host_url': 'https://ww...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 20, 'availability_60': 37,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '59149607', 'date': datetime.datetime...",220.0,840.0,35.0,0.0,NaN

In [11]:
Airbnb.drop(columns=["_id","address","host","availability",'review_scores','amenities','images','reviews','listing_url','summary','first_review'],inplace= True)
Airbnb.drop(columns=['last_review','interaction','cleaning_fee','space','description','neighborhood_overview','notes','transit'], inplace=True)
Airbnb.drop(columns=['house_rules','access','last_scraped','calendar_last_scraped','security_deposit','weekly_price','monthly_price','reviews_per_month'], inplace=True)

In [12]:
Airbnb.isnull().sum()

name                    8
property_type           0
room_type               0
bed_type                0
minimum_nights          0
maximum_nights          0
cancellation_policy     0
accommodates            0
bedrooms                5
beds                   13
number_of_reviews       0
bathrooms              10
price                   0
extra_people            0
guests_included         0
dtype: int64

In [13]:
Airbnb.shape

(5555, 15)

In [14]:
Airbnb.columns

Index(['name', 'property_type', 'room_type', 'bed_type', 'minimum_nights',
       'maximum_nights', 'cancellation_policy', 'accommodates', 'bedrooms',
       'beds', 'number_of_reviews', 'bathrooms', 'price', 'extra_people',
       'guests_included'],
      dtype='object')

In [15]:
Airbnb["name"].fillna(Airbnb["name"].mode()[0], inplace=True)
Airbnb["bedrooms"].fillna(Airbnb["bedrooms"].mean(),inplace=True)
Airbnb["beds"].fillna(Airbnb["beds"].mean(),inplace=True)
Airbnb["bathrooms"].fillna(Airbnb["bathrooms"].mean(),inplace=True)
Airbnb["bedrooms"].fillna(Airbnb["bedrooms"].mean(),inplace=True)

In [16]:
Airbnb.dtypes

name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights           int64
maximum_nights           int64
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms              float64
price                  float64
extra_people           float64
guests_included          int64
dtype: object

In [17]:
Airbnb.isnull().sum()

name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
extra_people           0
guests_included        0
dtype: int64

In [18]:
Airbnb['bedrooms'] = Airbnb['bedrooms'].astype(int)
Airbnb['beds'] = Airbnb['beds'].astype(int)
Airbnb['bathrooms']=Airbnb["bathrooms"].astype(int)
Airbnb["extra_people"]=Airbnb["extra_people"].astype(int)
Airbnb["guests_included"]=Airbnb["guests_included"].astype(int)

In [19]:
Airbnb.dtypes

name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights           int64
maximum_nights           int64
cancellation_policy     object
accommodates             int64
bedrooms                 int32
beds                     int32
number_of_reviews        int64
bathrooms                int32
price                  float64
extra_people             int32
guests_included          int32
dtype: object

In [20]:
Airbnb.describe()

,minimum_nights,maximum_nights,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included
count,5555.000000,5.555000e+03,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000
mean,5.564356,1.382776e+06,3.505851,1.411341,2.071287,27.606481,1.258146,278.766157,22.791899,1.747435
std,22.613861,5.256920e+07,2.297019,1.041547,1.617767,49.798376,0.683651,842.215531,69.331511,1.487352
min,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,1.000000
25%,1.000000,5.900000e+01,2.000000,1.000000,1.000000,1.000000,1.000000,70.000000,0.000000,1.000000
50%,2.000000,1.125000e+03,3.000000,1.000000,2.000000,5.000000,1.000000,129.000000,0.000000,1.000000
75%,3.000000,1.125000e+03,4.000000,2.000000,3.000000,32.000000,1.000000,280.000000,20.000000,2.000000
max,1250.000000,2.147484e+09,16.000000,20.000000,25.000000,533.000000,16.000000,48842.000000,2346.000000,16.000000

In [21]:
Q1=Airbnb["minimum_nights"].quantile(0.25)
Q3=Airbnb["minimum_nights"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+(1.5*IQR)
LP=Q1-(1.5*IQR)
print(UP,LP)

6.0 -2.0

In [22]:
Q1=Airbnb["maximum_nights"].quantile(0.25)
Q3=Airbnb["maximum_nights"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+1.5*IQR
LP=Q1-1.5*IQR
print(UP,LP)

2724.0 -1540.0

In [23]:
Q1=Airbnb["accommodates"].quantile(0.25)
Q3=Airbnb["accommodates"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+1.5*IQR
LP=Q1-1.5*IQR
print(UP,LP)

7.0 -1.0

In [24]:
Q1=Airbnb["bedrooms"].quantile(0.25)
Q3=Airbnb["bedrooms"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+1.5*IQR
LP=Q1-1.5*IQR
print(UP,LP)

3.5 -0.5

In [25]:
Q1=Airbnb["beds"].quantile(0.25)
Q3=Airbnb["beds"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+1.5*IQR
LP=Q1-1.5*IQR
print(UP,LP)

6.0 -2.0

In [26]:
Q1=Airbnb["number_of_reviews"].quantile(0.25)
Q3=Airbnb["number_of_reviews"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+1.5*IQR
LP=Q1-1.5*IQR
print(UP,LP)

78.5 -45.5

In [27]:
Q1=Airbnb["bathrooms"].quantile(0.25)
Q3=Airbnb["bathrooms"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+1.5*IQR
LP=Q1-1.5*IQR
print(UP,LP)

1.0 1.0

In [28]:
Q1=Airbnb["extra_people"].quantile(0.25)
Q3=Airbnb["extra_people"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+1.5*IQR
LP=Q1-1.5*IQR
print(UP,LP)

50.0 -30.0

In [29]:
Q1=Airbnb["guests_included"].quantile(0.25)
Q3=Airbnb["guests_included"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+1.5*IQR
LP=Q1-1.5*IQR
print(UP,LP)

3.5 -0.5

In [30]:
Airbnb["minimum_nights"]=Airbnb["minimum_nights"].clip(UP,LP)
Airbnb["maximum_nights"]=Airbnb["maximum_nights"].clip(UP,LP)
Airbnb["accommodates"]=Airbnb["accommodates"].clip(UP,LP)
Airbnb["bedrooms"]=Airbnb["bedrooms"].clip(UP,LP)
Airbnb["beds"]=Airbnb["beds"].clip(UP,LP)
Airbnb["number_of_reviews"]=Airbnb["number_of_reviews"].clip(UP,LP)
Airbnb["bathrooms"]=Airbnb["bathrooms"].clip(UP,LP)
Airbnb["extra_people"]=Airbnb["extra_people"].clip(UP,LP)
Airbnb["guests_included"]=Airbnb["guests_included"].clip(UP,LP)

In [31]:
Airbnb=pd.DataFrame(Airbnb)
Airbnb

,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included
0,Deluxe Loft Suite,Apartment,Entire home/apt,Real Bed,3.0,3.5,strict_14_with_grace_period,3.5,0.0,2.0,3.5,1.0,205.0,0.0,1.0
1,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2.0,3.5,flexible,3.5,1.0,2.0,0.0,1.0,317.0,0.0,1.0
2,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3.0,3.5,strict_14_with_grace_period,2.0,1.0,1.0,3.5,1.0,115.0,0.0,1.0
3,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,3.5,3.5,flexible,3.0,1.0,2.0,3.0,1.0,699.0,0.0,1.0
4,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2.0,3.5,moderate,3.5,3.0,3.5,3.5,1.0,80.0,3.5,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,Cozy Private Room near Olympic MTR (A),Apartment,Private room,Real Bed,3.5,3.5,strict_14_with_grace_period,1.0,1.0,1.0,0.0,1.0,259.0,0.0,1.0
5551,Quarry Bay fully furnished studio C,Apartment,Private room,Real Bed,3.0,3.5,flexible,1.0,1.0,1.0,3.5,1.0,400.0,3.5,2.0
5552,StayIN Oporto Música - Apartment,Apartment,Entire home/apt,Real Bed,1.0,3.5,strict_14_with_grace_period,3.5,3.5,3.5,3.5,3.5,500.0,3.5,3.5
5553,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,Real Bed,3.0,3.5,strict_14_with_grace_period,3.5,2.0,3.5,3.5,2.0,220.0,0.0,1.0
5554,"Central, Modern, University, Metro",Apartment,Entire home/apt,Real Bed,3.5,3.5,strict_14_with_grace_period,3.5,1.0,2.0,3.5,1.0,41.0,3.5,2.0

In [32]:
# airbnb.to_csv('airbnb.csv', index=False)

In [33]:
Df=pd.DataFrame(airbnb["address"])
Df

                                                address
0     {'street': 'Brooklyn, NY, United States', 'sub...
1     {'street': 'Rio de Janeiro, Rio de Janeiro, Br...
2     {'street': 'Honolulu, HI, United States', 'sub...
3     {'street': 'Hong Kong, Hong Kong Island, Hong ...
4     {'street': 'Porto, Porto, Portugal', 'suburb':...
...                                                 ...
5550  {'street': 'Hong Kong, Kowloon, Hong Kong', 's...
5551  {'street': 'Hong Kong, Hong Kong Island, Hong ...
5552  {'street': 'Porto, Porto, Portugal', 'suburb':...
5553  {'street': 'Lahaina, HI, United States', 'subu...
5554  {'street': 'Porto, Porto, Portugal', 'suburb':...

[5555 rows x 1 columns]

In [34]:
Df.address[1].values()

dict_values(['Rio de Janeiro, Rio de Janeiro, Brazil', 'Jardim Botânico', 'Jardim Botânico', 'Rio De Janeiro', 'Brazil', 'BR', {'type': 'Point', 'coordinates': [-43.23074991429229, -22.966253551739655], 'is_location_exact': True}])

In [35]:
Address=pd.DataFrame(Df)

In [36]:
Address["street"]=Address["address"].apply(lambda x: x["street"])  
Address["suburb"]=Address["address"].apply(lambda x: x["suburb"])
Address["government_area"]=Address["address"].apply(lambda x: x["government_area"])
Address["market"]=Address["address"].apply(lambda x: x["market"])
Address["country"]=Address["address"].apply(lambda x: x["country"])
Address["country_code"]=Address["address"].apply(lambda x: x["country_code"])
Address["type"]=Address["address"].apply(lambda x: x["location"]["type"])
Address["Latitude"]=Address["address"].apply(lambda x: x["location"]["coordinates"][0])
Address["Longitude"]=Address["address"].apply(lambda x: x["location"]["coordinates"][1])
Address["is_location_exact"]=Address["address"].apply(lambda x: x["location"]["is_location_exact"])

In [37]:
Address

,address,street,suburb,government_area,market,country,country_code,type,Latitude,Longitude,is_location_exact
0,"{'street': 'Brooklyn, NY, United States', 'sub...","Brooklyn, NY, United States",Greenpoint,Greenpoint,New York,United States,US,Point,-73.94472,40.727780,True
1,"{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","Rio de Janeiro, Rio de Janeiro, Brazil",Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.23075,-22.966254,True
2,"{'street': 'Honolulu, HI, United States', 'sub...","Honolulu, HI, United States",Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.83919,21.286340,True
3,"{'street': 'Hong Kong, Hong Kong Island, Hong ...","Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.281580,True
4,"{'street': 'Porto, Porto, Portugal', 'suburb':...","Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.141300,False
...,...,...,...,...,...,...,...,...,...,...,...
5550,"{'street': 'Hong Kong, Kowloon, Hong Kong', 's...","Hong Kong, Kowloon, Hong Kong",Yau Tsim Mong,Yau Tsim Mong,Hong Kong,Hong Kong,HK,Point,114.16179,22.319360,True
5551,"{'street': 'Hong Kong, Hong Kong Island, Hong ...","Hong Kong, Hong Kong Island, Hong Kong",Quarry Bay,Eastern,Hong Kong,Hong Kong,HK,Point,114.20722,22.291570,False
5552,"{'street': 'Porto, Porto, Portugal', 'suburb':...","Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.60622,41.151270,True
5553,"{'street': 'Lahaina, HI, United States', 'subu...","Lahaina, HI, United States",Lahaina,Lahaina,Maui,United States,US,Point,-156.66752,20.858940,False
5554,"{'street': 'Porto, Porto, Portugal', 'suburb':...","Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.60464,41.159080,True

In [38]:
Address.drop(columns=["address"],inplace=True)

In [39]:
Address.isnull().sum()

street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
type                 0
Latitude             0
Longitude            0
is_location_exact    0
dtype: int64

In [40]:
address=pd.DataFrame(Address)
address

,street,suburb,government_area,market,country,country_code,type,Latitude,Longitude,is_location_exact
0,"Brooklyn, NY, United States",Greenpoint,Greenpoint,New York,United States,US,Point,-73.94472,40.727780,True
1,"Rio de Janeiro, Rio de Janeiro, Brazil",Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.23075,-22.966254,True
2,"Honolulu, HI, United States",Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.83919,21.286340,True
3,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.281580,True
4,"Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.141300,False
...,...,...,...,...,...,...,...,...,...,...
5550,"Hong Kong, Kowloon, Hong Kong",Yau Tsim Mong,Yau Tsim Mong,Hong Kong,Hong Kong,HK,Point,114.16179,22.319360,True
5551,"Hong Kong, Hong Kong Island, Hong Kong",Quarry Bay,Eastern,Hong Kong,Hong Kong,HK,Point,114.20722,22.291570,False
5552,"Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.60622,41.151270,True
5553,"Lahaina, HI, United States",Lahaina,Lahaina,Maui,United States,US,Point,-156.66752,20.858940,False
5554,"Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.60464,41.159080,True

In [41]:
# Custom function to fill NaN values in 'suburb' using 'market'
def fill_suburb_with_market(row):
    if pd.isna(row['suburb']):
        return row['market']
    else:
        return row['suburb']

# Apply the custom function to fill NaN values in 'suburb' column
address['suburb'] = address.apply(fill_suburb_with_market, axis=1)

In [42]:
missing_values = address[address['suburb'].isna()]

# Display the row(s) with missing value(s) in the 'suburb' column
print(missing_values)
# df.iloc[640]

Empty DataFrame
Columns: [street, suburb, government_area, market, country, country_code, type, Latitude, Longitude, is_location_exact]
Index: []

In [43]:
address.loc[640, 'suburb'] = "Copacabana"

In [44]:
missing_values = address[address['market'].isna()]

# Display the row(s) with missing value(s) in the 'suburb' column
print(missing_values)

Empty DataFrame
Columns: [street, suburb, government_area, market, country, country_code, type, Latitude, Longitude, is_location_exact]
Index: []

In [45]:
address.loc[ 576,"market"]="Québec"
address.loc[ 619,"market"]="Rio De Janeiro"
address.loc[ 640,"market"]="Porto"
address.loc[ 654,"market"]="Oahu"
address.loc[ 775,"market"]="Maui"
address.loc[ 791,"market"]="Istanbul"

In [46]:
address.dtypes

street                object
suburb                object
government_area       object
market                object
country               object
country_code          object
type                  object
Latitude             float64
Longitude            float64
is_location_exact       bool
dtype: object

In [47]:
# address["street"].isnull().sum()
address.isnull().sum()

street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
type                 0
Latitude             0
Longitude            0
is_location_exact    0
dtype: int64

In [48]:
address.duplicated().sum()

0

In [49]:
address.describe()

          Latitude    Longitude
count  5555.000000  5555.000000
mean     -6.623240    22.061230
std      90.525974    28.092112
min    -159.678690   -34.088290
25%     -73.599530    20.724390
50%      -8.611420    40.727130
75%      29.019605    41.162755
max     151.338980    45.665630

In [50]:
address['street'] = address['street'].str.split(',').str[0]
address['government_area'] = address['government_area'].str.split(',').str[0]

In [51]:
address.to_csv("address.csv", index=False)

In [52]:
address=pd.read_csv("address.csv")
address=pd.DataFrame(address)
address

,street,suburb,government_area,market,country,country_code,type,Latitude,Longitude,is_location_exact
0,Brooklyn,Greenpoint,Greenpoint,New York,United States,US,Point,-73.94472,40.727780,True
1,Rio de Janeiro,Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.23075,-22.966254,True
2,Honolulu,Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.83919,21.286340,True
3,Hong Kong,Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.281580,True
4,Porto,NaN,Cedofeita,Porto,Portugal,PT,Point,-8.61308,41.141300,False
...,...,...,...,...,...,...,...,...,...,...
5550,Hong Kong,Yau Tsim Mong,Yau Tsim Mong,Hong Kong,Hong Kong,HK,Point,114.16179,22.319360,True
5551,Hong Kong,Quarry Bay,Eastern,Hong Kong,Hong Kong,HK,Point,114.20722,22.291570,False
5552,Porto,NaN,Cedofeita,Porto,Portugal,PT,Point,-8.60622,41.151270,True
5553,Lahaina,Lahaina,Lahaina,Maui,United States,US,Point,-156.66752,20.858940,False
5554,Porto,NaN,Cedofeita,Porto,Portugal,PT,Point,-8.60464,41.159080,True

In [53]:
# airbnb.to_csv('airbnb.csv', index=False)

In [54]:
DF=pd.DataFrame(airbnb["host"])
DF

                                                   host
0     {'host_id': '47554473', 'host_url': 'https://w...
1     {'host_id': '1282196', 'host_url': 'https://ww...
2     {'host_id': '5448114', 'host_url': 'https://ww...
3     {'host_id': '51624384', 'host_url': 'https://w...
4     {'host_id': '51399391', 'host_url': 'https://w...
...                                                 ...
5550  {'host_id': '23134064', 'host_url': 'https://w...
5551  {'host_id': '31386255', 'host_url': 'https://w...
5552  {'host_id': '2296185', 'host_url': 'https://ww...
5553  {'host_id': '51013381', 'host_url': 'https://w...
5554  {'host_id': '2068687', 'host_url': 'https://ww...

[5555 rows x 1 columns]

In [55]:
DF.host[1].values()

dict_values(['1282196', 'https://www.airbnb.com/users/show/1282196', 'Ynaie', 'Rio de Janeiro, State of Rio de Janeiro, Brazil', "I am an artist and traveling is a major part of my life. I love treating visitors the way I like to be treated when I´m abroad and I'm usually renting my flat while I'm away. I can recommend some cool parties and nights out as well as advise on some hidden secrets of Rio’s nature!", 'https://a0.muscache.com/im/pictures/9681e3cc-4af1-4046-b294-2881dffb4ff8.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/pictures/9681e3cc-4af1-4046-b294-2881dffb4ff8.jpg?aki_policy=profile_x_medium', 'Jardim Botânico', False, True, False, 1, 1, ['email', 'phone', 'facebook']])

In [56]:
DF.host[1].keys()

dict_keys(['host_id', 'host_url', 'host_name', 'host_location', 'host_about', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'host_listings_count', 'host_total_listings_count', 'host_verifications'])

In [57]:
host=pd.DataFrame(DF)
host['host_id'] = host['host'].apply(lambda x: x['host_id'])
host['host_url'] = host['host'].apply(lambda x: x['host_url'])
host['host_name'] = host['host'].apply(lambda x: x['host_name'])
host['host_location'] = host['host'].apply(lambda x: x['host_location'])
host['host_about'] = host['host'].apply(lambda x: x['host_about'])
host['host_response_time'] = host['host'].apply(lambda x: x.get('host_response_time','null'))
host['host_thumbnail_urlt'] = host['host'].apply(lambda x: x['host_thumbnail_url'])
host['host_picture_url'] = host['host'].apply(lambda x: x['host_picture_url'])
host['host_neighbourhood'] = host['host'].apply(lambda x: x['host_neighbourhood'])
host['host_response_rate'] = host['host'].apply(lambda x: x.get('host_response_rate',0))
host['host_is_superhost'] = host['host'].apply(lambda x: x['host_is_superhost'])
host['host_has_profile_pic'] = host['host'].apply(lambda x: x['host_has_profile_pic'])
host['host_identity_verified'] = host['host'].apply(lambda x: x['host_identity_verified'])
host['host_listings_count'] = host['host'].apply(lambda x: x['host_listings_count'])
host['host_total_listings_count'] = host['host'].apply(lambda x: x['host_total_listings_count'])
#host['host_verifications'] = host['host']['host_verifications'].apply(len)
host['host_verifications'] = host['host'].apply(lambda x: x['host_verifications'])
host['host_verifications'] = host['host_verifications'].apply(len)
# Drop the original 'host' column if not needed
host.drop(columns=['host'], inplace=True)

In [58]:
# host

In [59]:
host.isnull().sum()

host_id                      0
host_url                     0
host_name                    0
host_location                0
host_about                   0
host_response_time           0
host_thumbnail_urlt          0
host_picture_url             0
host_neighbourhood           0
host_response_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [60]:
host.describe()

,host_response_rate,host_listings_count,host_total_listings_count,host_verifications
count,5555.000000,5555.000000,5555.000000,5555.000000
mean,69.851305,14.405761,14.405761,4.968497
std,43.398098,65.848868,65.848868,2.176059
min,0.000000,0.000000,0.000000,1.000000
25%,0.000000,1.000000,1.000000,3.000000
50%,100.000000,2.000000,2.000000,5.000000
75%,100.000000,6.000000,6.000000,7.000000
max,100.000000,1198.000000,1198.000000,12.000000

In [61]:
q3=host["host_verifications"].quantile(0.75)
q1=host["host_verifications"].quantile(0.25)
IQR=q3-q1
up=q3+(1.5*IQR)
lp=q1-(1.5*IQR)
print(up,lp)

13.0 -3.0

In [62]:
host["host_verifications"] = host["host_verifications"].clip(up,lp)

In [63]:
q3=host["host_listings_count"].quantile(0.75)
q1=host["host_listings_count"].quantile(0.25)
IQR=q3-q1
up=q3+(1.5*IQR)
lp=q1-(1.5*IQR)
print(up,lp)

13.5 -6.5

In [64]:
host["host_listings_count"]=host["host_listings_count"].clip(up,lp)

In [65]:
q3=host["host_total_listings_count"].quantile(0.75)
q1=host["host_total_listings_count"].quantile(0.25)
IQR=q3-q1
up=q3+(1.5*IQR)
lp=q1-(1.5*IQR)
print(up,lp)

13.5 -6.5

In [66]:
host["host_total_listings_count"]=host["host_total_listings_count"].clip(up,lp)

In [67]:
host.describe()

,host_response_rate,host_listings_count,host_total_listings_count,host_verifications
count,5555.000000,5555.000000,5555.000000,5555.000000
mean,69.851305,4.203060,4.203060,4.968497
std,43.398098,4.556895,4.556895,2.176059
min,0.000000,0.000000,0.000000,1.000000
25%,0.000000,1.000000,1.000000,3.000000
50%,100.000000,2.000000,2.000000,5.000000
75%,100.000000,6.000000,6.000000,7.000000
max,100.000000,13.500000,13.500000,12.000000

In [68]:
host["host_response_rate"].value_counts()

host_response_rate
100    2952
0      1485
90      133
98      109
99      104
       ...
42        1
30        1
59        1
47        1
84        1
Name: count, Length: 62, dtype: int64

In [69]:
host["host_response_rate"]=host["host_response_rate"].replace({"other":"12"})

In [70]:
host["host_response_rate"].value_counts()

host_response_rate
100    2952
0      1485
90      133
98      109
99      104
       ...
42        1
30        1
59        1
47        1
84        1
Name: count, Length: 62, dtype: int64

In [71]:
host.dtypes

host_id                       object
host_url                      object
host_name                     object
host_location                 object
host_about                    object
host_response_time            object
host_thumbnail_urlt           object
host_picture_url              object
host_neighbourhood            object
host_response_rate             int64
host_is_superhost               bool
host_has_profile_pic            bool
host_identity_verified          bool
host_listings_count          float64
host_total_listings_count    float64
host_verifications             int64
dtype: object

In [72]:
host.drop(columns=["host_id"],inplace=True)
host.drop(columns=["host_about","host_thumbnail_urlt","host_picture_url","host_neighbourhood"],inplace=True)

In [73]:
# host["host_neighbourhood"]=host["host_neighbourhood"].replace({"NAN":"NaN"})

In [74]:
# host["host_neighbourhood"].value_counts()

In [75]:
host.drop_duplicates(inplace=True)

In [76]:
# host.to_csv("host_main.csv", index=False)

In [77]:
host=pd.DataFrame(host)
host

,host_url,host_name,host_location,host_response_time,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,https://www.airbnb.com/users/show/47554473,Mae,US,within a few hours,100,False,True,False,13.0,13.0,6
1,https://www.airbnb.com/users/show/1282196,Ynaie,"Rio de Janeiro, State of Rio de Janeiro, Brazil",null,0,False,True,False,1.0,1.0,3
2,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",within an hour,98,False,True,False,13.5,13.5,4
3,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",null,0,False,True,False,1.0,1.0,5
4,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,100,False,True,True,3.0,3.0,6
...,...,...,...,...,...,...,...,...,...,...,...
5547,https://www.airbnb.com/users/show/50141940,Paola,"Rio de Janeiro, State of Rio de Janeiro, Brazil",within a day,80,False,True,True,1.0,1.0,6
5548,https://www.airbnb.com/users/show/40540485,Miguel,"New York, New York, United States",within an hour,100,False,True,True,1.0,1.0,5
5551,https://www.airbnb.com/users/show/31386255,Cat,Hong Kong,within a day,60,False,True,False,7.0,7.0,3
5552,https://www.airbnb.com/users/show/2296185,Manuel,"Jovim, Porto, Portugal",within a few hours,90,False,True,True,3.0,3.0,6
5554,https://www.airbnb.com/users/show/2068687,Daniel & Maria,"Porto, Porto, Portugal",within an hour,100,False,True,False,2.0,2.0,4

AMENITIES

In [78]:
airbnb["amenities"]

0       [TV, Cable TV, Internet, Wifi, Air conditionin...
1       [Wifi, Wheelchair accessible, Kitchen, Free pa...
2       [TV, Cable TV, Wifi, Air conditioning, Pool, K...
3       [Air conditioning, Kitchen, Smoking allowed, D...
4       [TV, Cable TV, Wifi, Kitchen, Paid parking off...
                              ...
5550    [Internet, Wifi, Air conditioning, Kitchen, Es...
5551    [TV, Wifi, Air conditioning, Kitchen, Elevator...
5552    [TV, Cable TV, Wifi, Kitchen, Elevator, Heatin...
5553    [TV, Wifi, Air conditioning, Pool, Kitchen, Fr...
5554    [TV, Cable TV, Internet, Wifi, Kitchen, Free p...
Name: amenities, Length: 5555, dtype: object

In [79]:
Amenities=pd.DataFrame(airbnb["amenities"])
Amenities

                                              amenities
0     [TV, Cable TV, Internet, Wifi, Air conditionin...
1     [Wifi, Wheelchair accessible, Kitchen, Free pa...
2     [TV, Cable TV, Wifi, Air conditioning, Pool, K...
3     [Air conditioning, Kitchen, Smoking allowed, D...
4     [TV, Cable TV, Wifi, Kitchen, Paid parking off...
...                                                 ...
5550  [Internet, Wifi, Air conditioning, Kitchen, Es...
5551  [TV, Wifi, Air conditioning, Kitchen, Elevator...
5552  [TV, Cable TV, Wifi, Kitchen, Elevator, Heatin...
5553  [TV, Wifi, Air conditioning, Pool, Kitchen, Fr...
5554  [TV, Cable TV, Internet, Wifi, Kitchen, Free p...

[5555 rows x 1 columns]

In [80]:
len(Amenities["amenities"][2])

36

In [81]:
for column in Amenities["amenities"]:
    column_length=len(column)
print(column)

['TV', 'Cable TV', 'Internet', 'Wifi', 'Kitchen', 'Free parking on premises', 'Elevator', 'Buzzer/wireless intercom', 'Heating', 'Family/kid friendly', 'Washer', 'Fire extinguisher', 'Essentials', 'Shampoo', 'Hangers', 'Hair dryer', 'Iron', 'Laptop friendly workspace', 'Hot water', 'Long term stays allowed', 'Host greets you']

In [82]:
DF=pd.DataFrame(Amenities)
# Calculate lengths of each 'amenities' list and create a new column
DF['amenities_length'] = DF['amenities'].apply(len)

# Print the DataFrame
#print(amenities)
# DF = DF.drop(columns=['DF'])
DF= pd.DataFrame(DF)
DF

                                              amenities  amenities_length
0     [TV, Cable TV, Internet, Wifi, Air conditionin...                23
1     [Wifi, Wheelchair accessible, Kitchen, Free pa...                15
2     [TV, Cable TV, Wifi, Air conditioning, Pool, K...                36
3     [Air conditioning, Kitchen, Smoking allowed, D...                10
4     [TV, Cable TV, Wifi, Kitchen, Paid parking off...                32
...                                                 ...               ...
5550  [Internet, Wifi, Air conditioning, Kitchen, Es...                11
5551  [TV, Wifi, Air conditioning, Kitchen, Elevator...                12
5552  [TV, Cable TV, Wifi, Kitchen, Elevator, Heatin...                15
5553  [TV, Wifi, Air conditioning, Pool, Kitchen, Fr...                15
5554  [TV, Cable TV, Internet, Wifi, Kitchen, Free p...                21

[5555 rows x 2 columns]

In [83]:
DF.to_csv("amenities",index=False)

In [84]:
Amenities=pd.read_csv("amenities")
Amenities

                                              amenities  amenities_length
0     ['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...                23
1     ['Wifi', 'Wheelchair accessible', 'Kitchen', '...                15
2     ['TV', 'Cable TV', 'Wifi', 'Air conditioning',...                36
3     ['Air conditioning', 'Kitchen', 'Smoking allow...                10
4     ['TV', 'Cable TV', 'Wifi', 'Kitchen', 'Paid pa...                32
...                                                 ...               ...
5550  ['Internet', 'Wifi', 'Air conditioning', 'Kitc...                11
5551  ['TV', 'Wifi', 'Air conditioning', 'Kitchen', ...                12
5552  ['TV', 'Cable TV', 'Wifi', 'Kitchen', 'Elevato...                15
5553  ['TV', 'Wifi', 'Air conditioning', 'Pool', 'Ki...                15
5554  ['TV', 'Cable TV', 'Internet', 'Wifi', 'Kitche...                21

[5555 rows x 2 columns]

In [85]:
Amenities.isnull().sum()

amenities           0
amenities_length    0
dtype: int64

In [86]:
Amenities.describe()

       amenities_length
count       5555.000000
mean          21.854545
std           11.400905
min            1.000000
25%           13.000000
50%           20.000000
75%           28.000000
max           76.000000

In [87]:
Q1=Amenities["amenities_length"].quantile(0.25)
Q3=Amenities["amenities_length"].quantile(0.75)

IQR=Q3-Q1
LP=Q1-(1.5*IQR)
UP=Q3+(1.5*IQR)
LP,UP

(-9.5, 50.5)

In [88]:
Amenities["amenities_length"]=Amenities["amenities_length"].clip(LP,UP)

In [89]:
Amenities.describe()

       amenities_length
count       5555.000000
mean          21.712781
std           10.965277
min            1.000000
25%           13.000000
50%           20.000000
75%           28.000000
max           50.500000

In [90]:
Amenities.duplicated().sum()

86

In [91]:
Amenities.drop_duplicates(inplace=True)

In [92]:
amenities_1=pd.DataFrame(Amenities)
amenities_1

                                              amenities  amenities_length
0     ['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...              23.0
1     ['Wifi', 'Wheelchair accessible', 'Kitchen', '...              15.0
2     ['TV', 'Cable TV', 'Wifi', 'Air conditioning',...              36.0
3     ['Air conditioning', 'Kitchen', 'Smoking allow...              10.0
4     ['TV', 'Cable TV', 'Wifi', 'Kitchen', 'Paid pa...              32.0
...                                                 ...               ...
5550  ['Internet', 'Wifi', 'Air conditioning', 'Kitc...              11.0
5551  ['TV', 'Wifi', 'Air conditioning', 'Kitchen', ...              12.0
5552  ['TV', 'Cable TV', 'Wifi', 'Kitchen', 'Elevato...              15.0
5553  ['TV', 'Wifi', 'Air conditioning', 'Pool', 'Ki...              15.0
5554  ['TV', 'Cable TV', 'Internet', 'Wifi', 'Kitche...              21.0

[5469 rows x 2 columns]

In [93]:
availa=pd.DataFrame(airbnb["availability"])
availa

                                           availability
0     {'availability_30': 30, 'availability_60': 31,...
1     {'availability_30': 0, 'availability_60': 0, '...
2     {'availability_30': 16, 'availability_60': 46,...
3     {'availability_30': 0, 'availability_60': 0, '...
4     {'availability_30': 28, 'availability_60': 47,...
...                                                 ...
5550  {'availability_30': 6, 'availability_60': 36, ...
5551  {'availability_30': 18, 'availability_60': 48,...
5552  {'availability_30': 28, 'availability_60': 54,...
5553  {'availability_30': 0, 'availability_60': 8, '...
5554  {'availability_30': 20, 'availability_60': 37,...

[5555 rows x 1 columns]

In [94]:
availa["availability"][0]

{'availability_30': 30,
 'availability_60': 31,
 'availability_90': 31,
 'availability_365': 243}

In [95]:
availa['availability_30'] = availa['availability'].apply(lambda x: x['availability_30'])
availa['availability_60'] = availa['availability'].apply(lambda x: x['availability_60'])
availa['availability_90'] = availa['availability'].apply(lambda x: x['availability_90'])
availa['availability_365'] = availa['availability'].apply(lambda x: x['availability_365'])
availa.drop(columns=["availability"],inplace=True)

In [96]:
availa

      availability_30  availability_60  availability_90  availability_365
0                  30               31               31               243
1                   0                0                0                 0
2                  16               46               76               343
3                   0                0                0                 0
4                  28               47               74               239
...               ...              ...              ...               ...
5550                6               36               66               341
5551               18               48               78               353
5552               28               54               82               351
5553                0                8               31               258
5554               20               37               50               275

[5555 rows x 4 columns]

In [97]:
availa.isnull().sum()

availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [98]:
availa.duplicated().sum()

2684

In [99]:
availa.drop_duplicates(inplace=True)

In [100]:
availa.duplicated().sum()

0

In [101]:
availa.describe()

       availability_30  availability_60  availability_90  availability_365
count      2871.000000      2871.000000      2871.000000       2871.000000
mean         11.082201        26.251480        44.379659        200.592825
std           9.312137        17.874499        25.998366        108.597234
min           0.000000         0.000000         0.000000          0.000000
25%           3.000000        11.000000        23.000000        100.500000
50%           9.000000        25.000000        46.000000        216.000000
75%          18.000000        41.000000        66.000000        300.500000
max          30.000000        60.000000        90.000000        365.000000

In [102]:
Q1=availa["availability_30"].quantile(0.25)
Q3=availa["availability_30"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+(1.5*IQR)
LP=Q1-(1.5*IQR)
UP,LP

(40.5, -19.5)

In [103]:
Q1=availa["availability_60"].quantile(0.25)
Q3=availa["availability_60"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+(1.5*IQR)
LP=Q1-(1.5*IQR)
UP,LP

(86.0, -34.0)

In [104]:
Q1=availa["availability_90"].quantile(0.25)
Q3=availa["availability_90"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+(1.5*IQR)
LP=Q1-(1.5*IQR)
UP,LP

(130.5, -41.5)

In [105]:
Q1=availa["availability_365"].quantile(0.25)
Q3=availa["availability_365"].quantile(0.75)
IQR=Q3-Q1
UP=Q3+(1.5*IQR)
LP=Q1-(1.5*IQR)
UP,LP

(600.5, -199.5)

In [106]:
# no outlier cannot be using clip method
# availa["availability_365"]=availa["availability_365"].clip(LP,UP)

In [107]:
availability=pd.DataFrame(availa)
availability

      availability_30  availability_60  availability_90  availability_365
0                  30               31               31               243
1                   0                0                0                 0
2                  16               46               76               343
4                  28               47               74               239
6                  28               58               88               363
...               ...              ...              ...               ...
5547                7               37               67                87
5548                2               11               15               154
5552               28               54               82               351
5553                0                8               31               258
5554               20               37               50               275

[2871 rows x 4 columns]

In [108]:
# availability.to_csv("availability",index=False)

In [109]:
# Availability=pd.read_csv("availability")
Availability=pd.DataFrame(availability)
Availability

      availability_30  availability_60  availability_90  availability_365
0                  30               31               31               243
1                   0                0                0                 0
2                  16               46               76               343
4                  28               47               74               239
6                  28               58               88               363
...               ...              ...              ...               ...
5547                7               37               67                87
5548                2               11               15               154
5552               28               54               82               351
5553                0                8               31               258
5554               20               37               50               275

[2871 rows x 4 columns]

In [110]:
review=pd.DataFrame(airbnb["review_scores"])
review

                                          review_scores
0     {'review_scores_accuracy': 9, 'review_scores_c...
1                                                    {}
2     {'review_scores_accuracy': 9, 'review_scores_c...
3     {'review_scores_accuracy': 10, 'review_scores_...
4     {'review_scores_accuracy': 9, 'review_scores_c...
...                                                 ...
5550                                                 {}
5551  {'review_scores_accuracy': 10, 'review_scores_...
5552  {'review_scores_accuracy': 9, 'review_scores_c...
5553  {'review_scores_accuracy': 10, 'review_scores_...
5554  {'review_scores_accuracy': 10, 'review_scores_...

[5555 rows x 1 columns]

In [111]:
review["review_scores"].values[0]

{'review_scores_accuracy': 9,
 'review_scores_cleanliness': 10,
 'review_scores_checkin': 10,
 'review_scores_communication': 8,
 'review_scores_location': 9,
 'review_scores_value': 9,
 'review_scores_rating': 88}

In [112]:
# Extract review scores from nested 'review_scores' dictionary
review['review_scores_accuracy'] = review['review_scores'].apply(lambda x: x.get('review_scores_accuracy',0))
review['review_scores_cleanliness'] = review['review_scores'].apply(lambda x: x.get('review_scores_cleanliness',0))
review['review_scores_checkin'] = review['review_scores'].apply(lambda x: x.get('review_scores_checkin',0))
review['review_scores_communication'] = review['review_scores'].apply(lambda x: x.get('review_scores_communication',0))
review['review_scores_location'] = review['review_scores'].apply(lambda x: x.get('review_scores_location',0))
review['review_scores_value'] = review['review_scores'].apply(lambda x: x.get('review_scores_value',0))
review['review_scores_rating'] = review['review_scores'].apply(lambda x: x.get('review_scores_rating',0))

# Drop the original 'review_scores' column if not needed
review.drop(columns=['review_scores'], inplace=True)

In [113]:
review

,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,review_scores_rating
0,9,10,10,8,9,9,88
1,0,0,0,0,0,0,0
2,9,8,9,9,10,9,84
3,10,10,10,10,10,8,100
4,9,9,10,10,10,9,89
...,...,...,...,...,...,...,...
5550,0,0,0,0,0,0,0
5551,10,9,10,10,10,9,85
5552,9,9,9,9,9,8,89
5553,10,9,10,10,10,9,92
5554,10,10,10,9,9,10,97

In [114]:
review.isnull().sum()

review_scores_accuracy         0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_location         0
review_scores_value            0
review_scores_rating           0
dtype: int64

In [115]:
review.dtypes

review_scores_accuracy         int64
review_scores_cleanliness      int64
review_scores_checkin          int64
review_scores_communication    int64
review_scores_location         int64
review_scores_value            int64
review_scores_rating           int64
dtype: object

In [116]:
review.duplicated().sum()

4391

In [117]:
review.drop_duplicates(inplace=True)

In [118]:
review.describe()

,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,review_scores_rating
count,1164.000000,1164.000000,1164.000000,1164.000000,1164.000000,1164.000000,1164.000000
mean,8.898625,8.526632,9.184708,9.169244,9.204467,8.641753,85.855670
std,1.398943,1.538884,1.268471,1.279395,1.114794,1.333996,12.866928
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,8.000000,9.000000,9.000000,9.000000,8.000000,80.000000
50%,9.000000,9.000000,10.000000,9.000000,9.000000,9.000000,89.000000
75%,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,93.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,100.000000

In [119]:
review["review_scores_accuracy"].value_counts()

review_scores_accuracy
9     470
10    414
8     193
6      32
7      24
4      14
2      10
0       5
3       1
5       1
Name: count, dtype: int64

In [120]:
# review.to_csv("review",index=False)

In [121]:
# review_score=pd.read_csv("review")
review_score=pd.DataFrame(review)
review_score

,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,review_scores_rating
0,9,10,10,8,9,9,88
1,0,0,0,0,0,0,0
2,9,8,9,9,10,9,84
3,10,10,10,10,10,8,100
4,9,9,10,10,10,9,89
...,...,...,...,...,...,...,...
5514,6,6,6,5,7,7,60
5543,6,8,6,6,9,7,60
5546,10,10,10,8,10,10,80
5549,8,9,10,10,8,7,80
5551,10,9,10,10,10,9,85

In [122]:
Airbnb

,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included
0,Deluxe Loft Suite,Apartment,Entire home/apt,Real Bed,3.0,3.5,strict_14_with_grace_period,3.5,0.0,2.0,3.5,1.0,205.0,0.0,1.0
1,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2.0,3.5,flexible,3.5,1.0,2.0,0.0,1.0,317.0,0.0,1.0
2,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3.0,3.5,strict_14_with_grace_period,2.0,1.0,1.0,3.5,1.0,115.0,0.0,1.0
3,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,3.5,3.5,flexible,3.0,1.0,2.0,3.0,1.0,699.0,0.0,1.0
4,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2.0,3.5,moderate,3.5,3.0,3.5,3.5,1.0,80.0,3.5,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,Cozy Private Room near Olympic MTR (A),Apartment,Private room,Real Bed,3.5,3.5,strict_14_with_grace_period,1.0,1.0,1.0,0.0,1.0,259.0,0.0,1.0
5551,Quarry Bay fully furnished studio C,Apartment,Private room,Real Bed,3.0,3.5,flexible,1.0,1.0,1.0,3.5,1.0,400.0,3.5,2.0
5552,StayIN Oporto Música - Apartment,Apartment,Entire home/apt,Real Bed,1.0,3.5,strict_14_with_grace_period,3.5,3.5,3.5,3.5,3.5,500.0,3.5,3.5
5553,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,Real Bed,3.0,3.5,strict_14_with_grace_period,3.5,2.0,3.5,3.5,2.0,220.0,0.0,1.0
5554,"Central, Modern, University, Metro",Apartment,Entire home/apt,Real Bed,3.5,3.5,strict_14_with_grace_period,3.5,1.0,2.0,3.5,1.0,41.0,3.5,2.0

In [123]:
address

,street,suburb,government_area,market,country,country_code,type,Latitude,Longitude,is_location_exact
0,Brooklyn,Greenpoint,Greenpoint,New York,United States,US,Point,-73.94472,40.727780,True
1,Rio de Janeiro,Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.23075,-22.966254,True
2,Honolulu,Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.83919,21.286340,True
3,Hong Kong,Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.281580,True
4,Porto,NaN,Cedofeita,Porto,Portugal,PT,Point,-8.61308,41.141300,False
...,...,...,...,...,...,...,...,...,...,...
5550,Hong Kong,Yau Tsim Mong,Yau Tsim Mong,Hong Kong,Hong Kong,HK,Point,114.16179,22.319360,True
5551,Hong Kong,Quarry Bay,Eastern,Hong Kong,Hong Kong,HK,Point,114.20722,22.291570,False
5552,Porto,NaN,Cedofeita,Porto,Portugal,PT,Point,-8.60622,41.151270,True
5553,Lahaina,Lahaina,Lahaina,Maui,United States,US,Point,-156.66752,20.858940,False
5554,Porto,NaN,Cedofeita,Porto,Portugal,PT,Point,-8.60464,41.159080,True

In [124]:
host

,host_url,host_name,host_location,host_response_time,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,https://www.airbnb.com/users/show/47554473,Mae,US,within a few hours,100,False,True,False,13.0,13.0,6
1,https://www.airbnb.com/users/show/1282196,Ynaie,"Rio de Janeiro, State of Rio de Janeiro, Brazil",null,0,False,True,False,1.0,1.0,3
2,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",within an hour,98,False,True,False,13.5,13.5,4
3,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",null,0,False,True,False,1.0,1.0,5
4,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,100,False,True,True,3.0,3.0,6
...,...,...,...,...,...,...,...,...,...,...,...
5547,https://www.airbnb.com/users/show/50141940,Paola,"Rio de Janeiro, State of Rio de Janeiro, Brazil",within a day,80,False,True,True,1.0,1.0,6
5548,https://www.airbnb.com/users/show/40540485,Miguel,"New York, New York, United States",within an hour,100,False,True,True,1.0,1.0,5
5551,https://www.airbnb.com/users/show/31386255,Cat,Hong Kong,within a day,60,False,True,False,7.0,7.0,3
5552,https://www.airbnb.com/users/show/2296185,Manuel,"Jovim, Porto, Portugal",within a few hours,90,False,True,True,3.0,3.0,6
5554,https://www.airbnb.com/users/show/2068687,Daniel & Maria,"Porto, Porto, Portugal",within an hour,100,False,True,False,2.0,2.0,4

In [125]:
amenities_1

                                              amenities  amenities_length
0     ['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...              23.0
1     ['Wifi', 'Wheelchair accessible', 'Kitchen', '...              15.0
2     ['TV', 'Cable TV', 'Wifi', 'Air conditioning',...              36.0
3     ['Air conditioning', 'Kitchen', 'Smoking allow...              10.0
4     ['TV', 'Cable TV', 'Wifi', 'Kitchen', 'Paid pa...              32.0
...                                                 ...               ...
5550  ['Internet', 'Wifi', 'Air conditioning', 'Kitc...              11.0
5551  ['TV', 'Wifi', 'Air conditioning', 'Kitchen', ...              12.0
5552  ['TV', 'Cable TV', 'Wifi', 'Kitchen', 'Elevato...              15.0
5553  ['TV', 'Wifi', 'Air conditioning', 'Pool', 'Ki...              15.0
5554  ['TV', 'Cable TV', 'Internet', 'Wifi', 'Kitche...              21.0

[5469 rows x 2 columns]

In [126]:
Availability

      availability_30  availability_60  availability_90  availability_365
0                  30               31               31               243
1                   0                0                0                 0
2                  16               46               76               343
4                  28               47               74               239
6                  28               58               88               363
...               ...              ...              ...               ...
5547                7               37               67                87
5548                2               11               15               154
5552               28               54               82               351
5553                0                8               31               258
5554               20               37               50               275

[2871 rows x 4 columns]

In [127]:
review_score

,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,review_scores_rating
0,9,10,10,8,9,9,88
1,0,0,0,0,0,0,0
2,9,8,9,9,10,9,84
3,10,10,10,10,10,8,100
4,9,9,10,10,10,9,89
...,...,...,...,...,...,...,...
5514,6,6,6,5,7,7,60
5543,6,8,6,6,9,7,60
5546,10,10,10,8,10,10,80
5549,8,9,10,10,8,7,80
5551,10,9,10,10,10,9,85

In [ ]:
Tc=Airbnb.groupby(["property_type"])["price"].sum().sort_values(ascending=False).nlargest(10).to_frame()
Tc=Tc.reset_index()
Tc

In [ ]:
pd.set_option('display.max_columns', 500)

In [ ]:
airbnbs=pd.concat([Airbnb,host,address,Availability,amenities_1,review_score],axis=1)
airbnbs

In [ ]:
airbnbs.isnull().sum()

In [ ]:
catagorical_column=["host_url","host_name","host_location","host_response_time","host_is_superhost","host_has_profile_pic","host_identity_verified","street","suburb","market","amenities"]
for column in catagorical_column:
    airbnbs[column].fillna(airbnbs[column].mode()[0],inplace=True)
#fill missing values in numerical column with mean, meidean
numerical_column=["host_response_rate","host_listings_count","host_total_listings_count","host_verifications","host_verifications","availability_30","availability_60","availability_90","availability_365","amenities_length"]
for column in numerical_column:
    airbnbs[column].fillna(airbnbs[column].mean(),inplace=True)

In [ ]:
airbnbs.drop(columns=['review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','review_scores_rating'],inplace=True)

In [ ]:
airbnbs.isnull().sum()

In [ ]:
airbnbs.duplicated().sum()

In [ ]:
airbnbs

In [ ]:
Airbnb_data=pd.DataFrame(airbnbs)
# Airbnb_data

In [ ]:
Airbnb_data.to_csv("Airbnb_data.csv",index=False)
Airbnb_data=pd.read_csv("Airbnb_data.csv")

In [ ]:
Airbnb_data